@import "tailwindcss";

html,
body {
  background-color: black;
  overflow-x: hidden;
}

@keyframes waterFloat {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  25% {
    transform: translateY(-18px) rotate(0.8deg);
  }
  50% {
    transform: translateY(-40px) rotate(0deg);
  }
  75% {
    transform: translateY(-18px) rotate(-0.8deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.water-float {
  animation: waterFloat 4s ease-in-out infinite;
  will-change: transform;
}